<?php
    /**
     * WEB4PRO - Creating profitable online stores
     *
     *
     * @author    WEB4PRO <spoprigin@web4pro.com.ua>
     * @category  WEB4PRO
     * @package   Web4pro_Quickview
     * @copyright Copyright (c) 2015 WEB4PRO (http://www.web4pro.net)
     * @license   http://www.web4pro.net/license.txt
     */
?>
<?php $helper = Mage::helper('web4pro_quickview') ?>
<?php $skinUrl = $this->getSkinUrl(null, array('_package' => 'base')); ?>
<script>
    /**
     * open popup action
     * @param product_id
     */
    function openWindow(product_id) {
        myLightWindow.activateWindow({
            href: '<?php echo $helper->getPopupUrl()?>?id=' + product_id,
            type: 'page',
            product_id: product_id
        });
    }

    Event.observe(window, 'load', lightwindowInit, false);
    var myLightWindow = null;
    /**
     * initialize popup window
     * */
    function lightwindowInit() {
        myLightWindow = new lightwindow({
            overlay: {
                opacity: 0.7,
                image: '<?php echo $skinUrl ?>images/lightwindow/black.png',
                presetImage: '<?php echo $skinUrl ?>images/lightwindow/black-70.png',
            },
            dimensions : {
                image : {height : 250, width : 250},
                page : {height : 600, width : 450},
                inline : {height : 250, width : 250},
                media : {height : 250, width : 250},
                external : {height : 250, width : 250},
                titleHeight : 25
            },
            skin: {
                main: '<div id="lightwindow_container" >' +
                '<div id="lightwindow_title_bar" >' +
                '<div id="lightwindow_title_bar_inner" >' +
                '<span id="lightwindow_title_bar_title"></span>' +
                '<a id="lightwindow_title_bar_close_link" ><?php echo $helper->__('Close')?></a>' +
                '</div>' +
                '</div>' +
                '<div id="lightwindow_stage" >' +
                '<div id="lightwindow_contents" >' +
                '</div>' +
                '<div id="lightwindow_navigation" >' +
                '<a href="#" id="lightwindow_previous" >' +
                '<span id="lightwindow_previous_title"></span>' +
                '</a>' +
                '<a href="#" id="lightwindow_next" >' +
                '<span id="lightwindow_next_title"></span>' +
                '</a>' +
                '<iframe name="lightwindow_navigation_shim" id="lightwindow_navigation_shim" src="javascript:false;" frameBorder="0" scrolling="no"></iframe>' +
                '</div>' +
                '<div id="lightwindow_galleries">' +
                '<div id="lightwindow_galleries_tab_container" >' +
                '<a href="#" id="lightwindow_galleries_tab" >' +
                '<span id="lightwindow_galleries_tab_span" class="up" ><?php echo $helper->__('Galleries')?></span>' +
                '</a>' +
                '</div>' +
                '<div id="lightwindow_galleries_list" >' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<div id="lightwindow_data_slide" >' +
                '<div id="lightwindow_data_slide_inner" >' +
                '<div id="lightwindow_data_details" >' +
                '<div id="lightwindow_data_gallery_container" >' +
                '<span id="lightwindow_data_gallery_current"></span>' +
                ' of ' +
                '<span id="lightwindow_data_gallery_total"></span>' +
                '</div>' +
                '<div id="lightwindow_data_author_container" >' +
                '<?php echo $helper->__('by')?> <span id="lightwindow_data_author"></span>' +
                '</div>' +
                '</div>' +
                '<div id="lightwindow_data_caption" >' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>',
                loading: '<div id="lightwindow_loading" >' +
                '<img src="<?php echo $skinUrl ?>images/lightwindow/ajax-loading.gif" alt="loading" />' +
                '<span>Loading or <a href="javascript: myLightWindow.deactivate();">Cancel</a></span>' +
                '<iframe name="lightwindow_loading_shim" id="lightwindow_loading_shim" src="javascript:false;" frameBorder="0" scrolling="no"></iframe>' +
                '</div>',
                iframe: '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">' +
                '<html xmlns="http://www.w3.org/1999/xhtml">' +
                '<body>' +
                '{body_replace}' +
                '</body>' +
                '</html>',
                gallery: {
                    top: '<div class="lightwindow_galleries_list">' +
                    '<h1>{gallery_title_replace}</h1>' +
                    '<ul>',
                    middle: '<li>' +
                    '{gallery_link_replace}' +
                    '</li>',
                    bottom: '</ul>' +
                    '</div>'
                }
            }
        });
    }

    lightwindow.prototype._loadWindow = function () {
        switch (this.windowType) {
            case 'image' :

                var current = 0;
                var images = [];
                this.checkImage = [];
                this.resizeTo.height = this.resizeTo.width = 0;
                this.imageCount = this._getParameter('lightwindow_show_images') ? parseInt(this._getParameter('lightwindow_show_images')) : 1;

                // If there is a gallery get it
                if (gallery = this._getGalleryInfo(this.element.rel)) {
                    for (current = 0; current < this.galleries[gallery[0]][gallery[1]].length; current++) {
                        if (this.contentToFetch.indexOf(this.galleries[gallery[0]][gallery[1]][current].href) > -1) {
                            break;
                        }
                    }
                    if (this.galleries[gallery[0]][gallery[1]][current - this.imageCount]) {
                        this.navigationObservers.previous = this.galleries[gallery[0]][gallery[1]][current - this.imageCount];
                    } else {
                        this.navigationObservers.previous = false;
                    }
                    if (this.galleries[gallery[0]][gallery[1]][current + this.imageCount]) {
                        this.navigationObservers.next = this.galleries[gallery[0]][gallery[1]][current + this.imageCount];
                    } else {
                        this.navigationObservers.next = false;
                    }

                    this.activeGallery = true;
                } else {
                    this.navigationObservers.previous = false;
                    this.navigationObservers.next = false;

                    this.activeGallery = false;
                }

                for (var i = current; i < (current + this.imageCount); i++) {

                    if (gallery && this.galleries[gallery[0]][gallery[1]][i]) {
                        this.contentToFetch = this.galleries[gallery[0]][gallery[1]][i].href;

                        this.galleryLocation = {
                            current: (i + 1) / this.imageCount,
                            total: (this.galleries[gallery[0]][gallery[1]].length) / this.imageCount
                        };

                        if (!this.galleries[gallery[0]][gallery[1]][i + this.imageCount]) {
                            $('lightwindow_next').setStyle({
                                display: 'none'
                            });
                        } else {
                            $('lightwindow_next').setStyle({
                                display: 'block'
                            });
                            $('lightwindow_next_title').innerHTML = this.galleries[gallery[0]][gallery[1]][i + this.imageCount].title;
                        }

                        if (!this.galleries[gallery[0]][gallery[1]][i - this.imageCount]) {
                            $('lightwindow_previous').setStyle({
                                display: 'none'
                            });
                        } else {
                            $('lightwindow_previous').setStyle({
                                display: 'block'
                            });
                            $('lightwindow_previous_title').innerHTML = this.galleries[gallery[0]][gallery[1]][i - this.imageCount].title;
                        }
                    }

                    images[i] = document.createElement('img');
                    images[i].setAttribute('id', 'lightwindow_image_' + i);
                    images[i].setAttribute('border', '0');
                    images[i].setAttribute('src', this.contentToFetch);
                    $('lightwindow_contents').appendChild(images[i]);

                    // We have to do this instead of .onload
                    this.checkImage[i] = new PeriodicalExecuter(function (i) {
                        if (!(typeof $('lightwindow_image_' + i).naturalWidth != "undefined" && $('lightwindow_image_' + i).naturalWidth == 0)) {

                            this.checkImage[i].stop();

                            var imageHeight = $('lightwindow_image_' + i).getHeight();
                            if (imageHeight > this.resizeTo.height) {
                                this.resizeTo.height = imageHeight;
                            }
                            this.resizeTo.width += $('lightwindow_image_' + i).getWidth();
                            this.imageCount--;

                            $('lightwindow_image_' + i).setStyle({
                                height: '100%'
                            });

                            if (this.imageCount == 0) {
                                this._processWindow();
                            }
                        }

                    }.bind(this, i), 1);
                }


                break;

            case 'media' :

                var current = 0;
                this.resizeTo.height = this.resizeTo.width = 0;

                // If there is a gallery get it
                if (gallery = this._getGalleryInfo(this.element.rel)) {
                    for (current = 0; current < this.galleries[gallery[0]][gallery[1]].length; current++) {
                        if (this.contentToFetch.indexOf(this.galleries[gallery[0]][gallery[1]][current].href) > -1) {
                            break;
                        }
                    }

                    if (this.galleries[gallery[0]][gallery[1]][current - 1]) {
                        this.navigationObservers.previous = this.galleries[gallery[0]][gallery[1]][current - 1];
                    } else {
                        this.navigationObservers.previous = false;
                    }
                    if (this.galleries[gallery[0]][gallery[1]][current + 1]) {
                        this.navigationObservers.next = this.galleries[gallery[0]][gallery[1]][current + 1];
                    } else {
                        this.navigationObservers.next = false;
                    }

                    this.activeGallery = true;
                } else {
                    this.navigationObservers.previous = false;
                    this.navigationObservers.next = false;

                    this.activeGallery = false;
                }


                if (gallery && this.galleries[gallery[0]][gallery[1]][current]) {
                    this.contentToFetch = this.galleries[gallery[0]][gallery[1]][current].href;

                    this.galleryLocation = {current: current + 1, total: this.galleries[gallery[0]][gallery[1]].length};

                    if (!this.galleries[gallery[0]][gallery[1]][current + 1]) {
                        $('lightwindow_next').setStyle({
                            display: 'none'
                        });
                    } else {
                        $('lightwindow_next').setStyle({
                            display: 'block'
                        });
                        $('lightwindow_next_title').innerHTML = this.galleries[gallery[0]][gallery[1]][current + 1].title;
                    }

                    if (!this.galleries[gallery[0]][gallery[1]][current - 1]) {
                        $('lightwindow_previous').setStyle({
                            display: 'none'
                        });
                    } else {
                        $('lightwindow_previous').setStyle({
                            display: 'block'
                        });
                        $('lightwindow_previous_title').innerHTML = this.galleries[gallery[0]][gallery[1]][current - 1].title;
                    }
                }

                if (this._getParameter('lightwindow_iframe_embed')) {
                    this.resizeTo.height = this.dimensions.viewport.height;
                    this.resizeTo.width = this.dimensions.viewport.width;
                } else {
                    this.resizeTo.height = this._getParameter('lightwindow_height');
                    this.resizeTo.width = this._getParameter('lightwindow_width');
                }

                this._processWindow();

                break;

            case 'external' :

                this._appendIframe('auto');

                this.resizeTo.height = this.dimensions.viewport.height;
                this.resizeTo.width = this.dimensions.viewport.width;

                this._processWindow();

                break;

            case 'page' :

                var content = this.getPopupItem(this.element.product_id);
                if(content == undefined){
                    var newAJAX = new Ajax.Request(
                        this.contentToFetch, {
                            method: 'post',
                            parameters: '',
                            onComplete: function (response) {
                                this.setPopupItem(this.element.product_id, response.responseText);
                                this.runWindow(response.responseText);
                            }.bind(this)
                        }
                    );
                }else {
                    this.runWindow(content);
                }

                break;

            case 'inline' :

                var content = this.contentToFetch;
                if (content.indexOf('?') > -1) {
                    content = content.substring(0, content.indexOf('?'));
                }
                content = content.substring(content.indexOf('#') + 1);

                new Insertion.Top($('lightwindow_contents'), $(content).innerHTML);

                this.resizeTo.height = $('lightwindow_contents').scrollHeight + (this.options.contentOffset.height);
                this.resizeTo.width = $('lightwindow_contents').scrollWidth + (this.options.contentOffset.width);

                this._toggleTroubleElements('hidden', true);
                this._processWindow();

                break;

            default :
                throw("Page Type could not be determined, please amend this lightwindow URL " + this.contentToFetch);
                break;
        }
    }
    lightwindow.prototype._monitorKeyboard = function(status) {

    }
    lightwindow.prototype.runWindow = function(response){
        var content = Object.toHTML(response);
        $('lightwindow_contents').innerHTML += content.stripScripts();
        content.evalScripts.bind(content).defer();
        this.resizeTo.height = 800;//$('lightwindow_contents').scrollHeight+(this.options.contentOffset.height);
        this.resizeTo.width = 900;//$('lightwindow_contents').scrollWidth+(this.options.contentOffset.width);
        this._processWindow();
    }
    lightwindow.prototype.getPopupItem = function(product_id) {
        return this.popupsContent[product_id];
    }
    lightwindow.prototype.setPopupItem = function(product_id, content){
        this.popupsContent[product_id] = content;
    }
    lightwindow.prototype.popupsContent = [];
</script>