<?php
    /**
     * WEB4PRO - Creating profitable online stores
     *
     *
     * @author    WEB4PRO <spoprigin@web4pro.com.ua>
     * @category  WEB4PRO
     * @package   Web4pro_Quickview
     * @copyright Copyright (c) 2015 WEB4PRO (http://www.web4pro.net)
     * @license   http://www.web4pro.net/license.txt
     */
?>
<?php if ($this->hideOr()): ?>
    <script>
        $$('.add-to-box .or').invoke('hide');
    </script>
<?php endif; ?>

<script type="text/javascript">
	
    optionsPrice = new Product.OptionsPrice(<?php echo $this->getPriceConfig() ?>);

    productAddToCartForm = new VarienForm('product_addtocart_form');

    productAddToCartForm.submit = function (button, url) {
        if (this.validator.validate()) {
            var form = this.form;
            var oldUrl = form.action;

            if (url) {
                form.action = url;
            }
            var e = null;
            try {
                this.form.submit();
            } catch (e) {
            }
            this.form.action = oldUrl;
            if (e) {
                throw e;
            }

            if (button && button != 'undefined') {
                button.disabled = true;
            }
        }
    }.bind(productAddToCartForm);

    productAddToCartForm.submitLight = function (button, url) {
        if (this.validator) {
            var nv = Validation.methods;
            delete Validation.methods['required-entry'];
            delete Validation.methods['validate-one-required'];
            delete Validation.methods['validate-one-required-by-name'];
            // Remove custom datetime validators
            for (var methodName in Validation.methods) {
                if (methodName.match(/^validate-datetime-.*!/i)) {
                    delete Validation.methods[methodName];
                }
            }

            if (this.validator.validate()) {
                if (url) {
                    this.form.action = url;
                }
                this.form.submit();
            }
            Object.extend(Validation.methods, nv);
        }
    }.bind(productAddToCartForm);

    <?php if($this->isConfigurable()) : ?>
        spConfig = new Product.Config(<?php echo $this->getJsonConfig()?>);

        try {
            swatchesConfig._E.allConfigurableOptions = [];
            swatchesConfig._E.activeConfigurableOptions = [];
            delete swatchesConfig;
        } catch (e) {

        }
        swatchesConfig = new Product.ConfigurableSwatches(spConfig);

        swatchesConfig.onOptionClick = function(attr) {
        var opt = attr._e.selectedOption;
        if (opt) {
            if (opt != attr._e._last.selectedOption) {
                // Set the attribute's label
                attr._e.attrLabel.innerHTML = this.getOptionLabel(opt);

                if (opt._f.isSwatch) {
                    // Clear .selected from any other li for this attr
                    opt._e.ul.select('li').invoke('removeClassName','selected');
                    // Add selected class to swatch's li
                    opt._e.li.addClassName('selected');
                    // Add validation styling to label
                    var inputBox = attr._e.optionSelect.up();
                    if (inputBox.hasClassName('validation-error')) {
                        inputBox.removeClassName('validation-error');
                        inputBox.down('.validation-advice').remove();
                    }
                };

                // Mark last option as no longer active
                if (attr._e._last.selectedOption) attr._e._last.selectedOption._f.active = false;
                // Mark this option as active
                opt._f.active = true;

                // remove last active option from activeConfigurableOptions
                var pos = this._E.activeConfigurableOptions.indexOf( attr._e._last.selectedOption );
                if (pos !== -1) this._E.activeConfigurableOptions.splice(pos, 1);

                // add active option to activeConfigurableOptions
                this._E.activeConfigurableOptions.push( opt );

                // Set what other configurable options are available now this option was selected
                this.setAvailableOptions();
                // preview available after clicking to show the mouseover state
                if (opt._f.isSwatch && !attr._f.isCustomOption && this._F.firstOptionSelected) {
                    this.previewAvailableOptions();
                };
            };
        } else { // opt is null (e.g. the first option in a select "--Please Select--")
            // remove last active option from activeConfigurableOptions
            var pos = this._E.activeConfigurableOptions.indexOf( attr._e._last.selectedOption );
            if (pos !== -1) this._E.activeConfigurableOptions.splice(pos, 1);
            // Make last option no longer active
            if (attr._e._last.selectedOption) attr._e._last.selectedOption._f.active = false;
            // loop through all options and set available
            this.setAvailableOptions();
        }
        // check and set stock status
        this.checkStockStatus();
        var swatch = this;
        // Make sure all the selected options are actually selected in their hidden select elements
        this._E.activeConfigurableOptions.each(function(selectedOpt){
            var oldDisabledValue = selectedOpt._e.option.disabled;
            selectedOpt._e.option.disabled = false;
            swatch.checkSelectedAttr(selectedOpt);
            selectedOpt._e.option.disabled = oldDisabledValue;
        });

        // update select
        if ((this._O.selectFirstOption && !this._F.firstOptionSelected) ||
            (this._F.hasPresetValues && !this._F.presetValuesSelected) ||
            (!windowLoaded)) {
            Event.observe(window, 'load', function() {
                window.setTimeout(function() {
                    this.updateSelect( attr );
                    this._F.firstOptionSelected = true;
                }.bind(this), 200);
            }.bind(this));
        } else {
            this.updateSelect(attr);
            this._F.firstOptionSelected = true;
        }
    };

    swatchesConfig.checkSelectedAttr = function (selectedOpt) {
        var formValues = $('attribute' + selectedOpt.attr.id);
        var optionsLen = formValues.options.length;
        for (var i = 0; i<optionsLen; i++){
            if(formValues.options[i].value == selectedOpt._e.option.value && formValues.options[i].text ==  selectedOpt._e.option.text){
                formValues.options[i].selected = true;
                break;
            }
        }
    }
    <?php endif;?>

</script>
